{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<!-- Accounts app specific styles -->
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block title %}Account Management | Zizo Jobs{% endblock %}

{% block content %}
<div class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100 dark:from-gray-900 dark:to-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {% block accounts_content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'accounts/js/profile.js' %}"></script>
{% endblock %}